**/.pio
**/.vscode/.browse.c_cpp.db*
**/.vscode/c_cpp_properties.json
**/.vscode/launch.json
**/.vscode/ipch

fp-info-cache
**/*-backups/
**/*.kicad_prl
**/~*.kicad_sch.lck
**/~*.kicad_sch.lck
firmware/src/credentials.h
**/~*.kicad_pcb.lck
